**/__pycache__/


logs/schema_agnostic/extended/complementarity.txt
python/baseline/DeepBlocker/grid_config/*
python/baseline/DeepBlocker/results/*
python/baseline/ZeroER/datasets/*
python/baseline/Sparkly/pylucene-9.7.0/*
python/baseline/Sparkly/results/*
python/baseline/Sparkly/grid_config/*
python/baseline/Sparkly/outs/*

legacy/*
plots/*
data/*

logs/supervised_experiments/*
jupyter/.ipynb_checkpoints/
